# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-electron/
release/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.tempmediaStorage/

# Editor & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Environment & local state
.env
.env.local
.env.*.local
